@model TCN_NCKH.Models.DBModel.Ketquathi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Ketquathi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Sinhvienid" class="control-label"></label>
                <select asp-for="Sinhvienid" class="form-control" asp-items="ViewBag.Sinhvienid"></select>
                <span asp-validation-for="Sinhvienid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lichthiid" class="control-label"></label>
                <select asp-for="Lichthiid" class="form-control" asp-items="ViewBag.Lichthiid"></select>
                <span asp-validation-for="Lichthiid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diem" class="control-label"></label>
                <input asp-for="Diem" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thoigianlam" class="control-label"></label>
                <input asp-for="Thoigianlam" class="form-control" />
                <span asp-validation-for="Thoigianlam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaythi" class="control-label"></label>
                <input asp-for="Ngaythi" class="form-control" />
                <span asp-validation-for="Ngaythi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

