@model TCN_NCKH.Models.DBModel.Dethi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Dethi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tendethi" class="control-label"></label>
                <input asp-for="Tendethi" class="form-control" />
                <span asp-validation-for="Tendethi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monhocid" class="control-label"></label>
                <select asp-for="Monhocid" class="form-control" asp-items="ViewBag.Monhocid"></select>
                <span asp-validation-for="Monhocid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoitao" class="control-label"></label>
                <select asp-for="Nguoitao" class="form-control" asp-items="ViewBag.Nguoitao"></select>
                <span asp-validation-for="Nguoitao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label"></label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

